[2018-06-05 07:35] jbnl opened #1 "Doesn't compile"
Hi, the source doesn't compile with Boost 1.58 as it's stated in the readme. It asks for boost 1.62 or higher - OR 1.58 with a line pointing cmake to openssl 1.0.

I've tried building with boost 1.58 pointing to OpenSSL 1.0 but it doesnt compile.
Also tried building with boost 1.67, no luck either.

How do we build this?

[2018-06-05 14:21] jbnl commented on #1
The problem had to do with openssl 1.1 being installed. Had to manually install openssl 1.0.2g and libssl-dev 1.0.2 via dpkg.

[2018-06-18 15:46] cranefist opened #2 "Social media?"
Hello

Is there any sort of discord / telegram / twitter channel for this project?

Or is this just at test project?

[2018-06-20 12:18] xmranon opened #3 "unable to connect to seed nodes"
2018-06-20 12:36:01.392 [P2P8]  WARN    net.p2p src/p2p/net_node.inl:1161
Failed to connect to any of seed peers, continuing without seeds
2018-06-20 12:36:01.392 [P2P8]  INFO    net.p2p src/p2p/net_node.inl:1217
Failed to connect to any, trying seeds
2018-06-20 12:36:01.392 [P2P8]  DEBUG   net.p2p src/p2p/net_node.inl:906
Connecting to 144.202.62.30:18094(peer_type=1, last_seen: never)...
2018-06

[2018-06-20 20:13] blur-network commented on #3
Chain is not live at the moment. Will close when source is updated.

[2018-06-21 10:01] blur-network commented on #3
Source has been updated, along with a linux release of binaries.  Windows to follow.  Seed nodes working fine now.  If you have any issues, manually add them with `--seed-node xxxx.xxxx.xxx.xxxx`

Please note that ports have been updated as well.

[2018-06-21 10:01] #3 closed

[2018-06-21 10:45] blur-network commented on #2
closing due to non-issue. please await announcements, check website, etc.  Some links were just added to README.md  in most recent commit 54609e0ed79770ff55b48100339a3681ca678fd1

[2018-06-21 10:45] #2 closed

[2018-06-22 08:13] Andy16k opened #4 "chain reset?"
hi
was mining on windows, but latest release is linux only, restored wallet from seed but balance is now 0
has the chain been reset?
block height showing as 2107?

[2018-06-22 15:55] Andy16k commented on #4
it didnt say testnet anywhere, noob error i guess
bugger

[2018-06-22 18:58] blur-network commented on #4
Please be advised that the old chain is NOT compatible with the new network.  Those Windows binaries are from the previous chain are invalid and your mined coins WILL BE LOST once binaries are compiled for Windows on the new chain.  Please see announcements on Discord at: https://discord.gg/VFP2VES

[2018-06-22 18:58] #4 closed

[2018-06-23 14:11] nwiener commented on #1
Hi. now the Blur Network Block Explorer show that the height is 3901, i was solo mining for a few days two weeks ago and remember the block height was high than 3901 at that time. Is the block chain roll back？thank you

[2018-06-23 16:35] blur-network commented on #1
Compiling errors have been fixed for Windows.  Closing this -- bugfix

[2018-06-23 16:35] #1 closed

[2018-08-16 13:24] invthr opened #6 "Transaction split fee too low problem"
Splitting transaction is not successful (0.1.7).

cli-wallet output:
Sending 5000.000000000000.  Your transaction needs to be split into 2 transactions.  This will result in a transaction fee being applied to each transaction, for a total fee of 0.058338900000
Is this okay?  (Y/Yes/N/No): y
Transaction successfully submitted, transaction <...db9e...920cf3...>
You can check its status by using the

[2018-08-21 01:16] RoyArends opened #7 "please update root-zone trust-anchors in dns_utils.cpp"
Users of your software that enable DNSSEC will not be able to validate DNS after October the 11th 2018.

Your repository contains a dns_utils.cpp file without the new DNSSEC trust-anchors:

. IN DS 19036 8 2 49AAC11D7B6F6446702E54A1607371607A1A41855200FD2CE1CDDE32F24E8FB5
It should also include:

. IN DS 20326 8 2 E06D44B80B8F1D39A95C0B0D7C65D08458E880409BBC683457104237C7F8EC8D

More information c

[2018-08-21 03:05] RoyArends opened #8 "please update root-zone trust-anchors in dnssec_test.py file"
Users of your software that enable DNSSEC will not be able to validate DNS after October the 11th 2018.

Your repository contains a dnssec_test.py file without the new DNSSEC trust-anchors:

resolver.add_ta(".   IN DS   19036 8 2 49AAC11D7B6F6446702E54A1607371607A1A41855200FD2CE1CDDE32F24E8FB5")

It should also include:

resolver.add_ta(".   IN DS   20326 8 2 E06D44B80B8F1D39A95C0B0D7C65D08458E880

[2018-09-26 09:50] leanderdl opened #14 "0.1.7 Windows binaries missing"
please add windows binaries. The description is there, pre-built binaries are not...

[2018-09-27 17:13] #14 closed

[2018-10-11 11:27] blur-network commented on #7
resolved in 802bd8f8e20503096ea23b73d1016dd72c06a10c

[2018-10-11 11:27] #7 closed

[2018-10-11 11:29] blur-network commented on #8
see #7

[2018-10-11 11:29] #8 closed

[2018-10-25 05:53] wispsofglory opened #20 "Issue opening windows blur-wallet-cli"
I'm getting a fatal error when attempting to open blur-wallet-cli with the newest update.  Here is the error message:

       what(): Invalid or unsupported charset:cp850

[2018-10-31 03:42] #20 closed

[2018-11-06 13:56] tonedepear opened #24 "1.7.6 wallet issue"
Mining bat from 1.7.5 and previous doesn't work.
I get :  Unknown command: logger %loc    %msg

Opening wallet from 1.7.5 fails on invalid password, but create new wallet works, and from that, start_mining works and starts mining in daemon ok. But old wallet can't be opened.

[2018-11-08 01:43] vimichan commented on #24
I got the same question that opening wallet fails on invalid password.  Please tell me how to solve it.

[2018-11-08 03:56] blur-hate-sucks opened #25 "blur mines coins but they don't appear in wallet"
Here is the log from the e26 tx forward:

2018-11-07 15:58:36.672	11692	INFO 	msgwriter	src/common/scoped_message_writer.h:102	Background refresh thread started
2018-11-07 20:37:06.076	16208	WARN 	wallet.wallet2	src/wallet/wallet2.cpp:1306	Received money: 7.062623615487, with tx: <e2636175811ee75911fc1f00a1240a0a172422d2c90f98942c4eed23ce43a563>
2018-11-07 20:37:06.076	16208	INFO 	msgwriter	src/co

[2018-11-08 04:11] blur-network commented on #25
You're mining with an outdated daemon.  Please update to the current one and you won't receive blocks in a detached state.

[2018-11-08 04:11] #25 closed

[2018-11-08 13:35] blur-network commented on #24
<b>For the errors when running blurd.exe with startup flags on Windows:</b>
If you are seeking to run the daemon with start-up flags (i.e. `--start-mining` or similar) the argument for the flag must be passed with an `=` sign instead of a space. Such that, what would have previously been written `--log-level 3` must now be written `--log-level=3`. Similarly, to start mining to an address in daemon

[2018-12-06 21:44] blur-network commented on #24
Closing due to less requests for help regarding the wallet password issues. Will reopen if that changes

[2018-12-06 21:44] #24 closed

[2018-12-10 23:31] simpleKiriath opened #31 "Issue with syncing on fresh Ubuntu 18.04.1LTS."
Running the binaries, no compiling here.
Machine is a quadsocket E7-4870 server.

It cycles the following after starting the node with:

./blurd --add-priority-node 178.128.191.245:13894 --seed-node 178.128.180.136:13894 --add-priority-node 178.128.186.101:13894 --p2p-bind-port 13894 --rpc-bind-port 13895 --rpc-bind-ip 127.0.0.1

2018-12-10 23:29:33.407	[P2P2]	DEBUG	net	contrib/epee/include/net/ab

[2018-12-19 23:33] leto opened #32 "libnorm-dev does not exist in Ubuntu 16.04"
The line from readme cannot be copy+pasted to install dependencies on 16.04, because libnorm-dev does not exist. It also does not seem to be needed, as compiling works fine when removing that from the apt-get line.

[2018-12-21 06:51] who-biz commented on #32
This was fixed in 93e850899cf3d39c9c36daacca41c8e04dd4c6f8 yesterday, despite me not seeing this until now.

libnorm-dev is only required when zeromq is built using libnorm-dev.  it appears that the bionic package was built using the library, but that debian 9 and ubuntu 16 packages were built without the library.

[2018-12-21 06:51] #32 closed

[2019-01-12 11:32] who-biz commented on #6
Apparently still an active issue.

Fee estimate may be the problem... or the calculation itself.  Looking into both

[2019-01-12 11:34] who-biz opened #37 "Blockchain not syncing"
Sync stalls at fifth block.  Returning an invalid difficulty.

[2019-01-14 05:06] who-biz commented on #37
moved the prospective changes to the development branch, until the sync issue is fixed.  This resolves the problem for the master branch, currently... so closing this.

[2019-01-14 05:06] #37 closed

[2019-02-25 01:50] vimichan opened #44 "v0.1.9 windows issue : Synchronization fail"
I start blurd.exe of v0.1.9 , it can't  finish synchronization  and continuely print like this:
 "SYNCHRONIZATION started
2019-02-25 01:45:56.210 [P2P9]  INFO    global  src/cryptonote_protocol/cryptono
te_protocol_handler.inl:308     [144.217.122.134:13894 OUT] Sync data returned a
 new top block candidate: 342000 -> 343762 [Your node is 1762 blocks (1 days) be
hind] " .......

please tell me how

[2019-02-25 03:11] vimichan commented on #44
sync successfully after an hour.

[2019-02-26 13:53] CryptoGuy2018 commented on #44
Right now this is anything than a blockchain.
You can't sync from 0 but **MUST** use a bootstrap file.
The only peers that can be used are the seed nodes.
A decentralized approach works in a different way.

[2019-02-27 02:59] vimichan commented on #44
and how to use a bootstrap file in windows?
I found a method in md file that using command "blurd.exe --add-priority-node 66.70.189.131:13894 --add-priority-node 66.70.189.183:13894 --seed-node 66.70.188.178:13894" ,but it doesn't work as well.

[2019-02-27 12:58] who-biz commented on #44
We're having issues with the latest fork.  Working out a solution. This issue is known. Thanks for filing a report, though.

[2019-02-27 12:59] who-biz commented on #44
Seems to be a good amount of network interference as well.  Unfortunately, attacks are nothing new, here.

[2019-02-28 23:42] who-biz commented on #44
resolved by 0e3d0c0704eaac1915c84d8b308d2ab549b271db

[2019-02-28 23:42] #44 closed

[2019-03-18 16:48] who-biz commented on #6
This should be resolved in d1c7592ba4fdbdb2a4f7690ffb1d6b02eb3a0d19.

[2019-03-18 16:48] #6 closed

[2019-04-17 03:18] who-biz opened #50 "Transaction pool on explorer not displaying transactions"
tx pool is not showing on explorer.  probably due to the removal of the dns-related parameter from an associated function recently.  needs looked into ASAP... (Note: transactions are functioning perfectly fine.  it is only the mempool that is not displaying)

[2019-04-21 22:51] who-biz opened #51 "Enhancement: rewrite of epee library"
Not liking the things in that library. Historically, its been a source of problems too (Talos bug)... which draws similar attention to p2p.

Consider rewrite.

[2019-05-02 07:20] who-biz opened #52 "blur-wallet-rpc crashes"
wallet RPC server crashes with segfault when dealing with account tags

[2019-05-10 04:42] leto opened #53 "Enhancement: read electrum seeds from STDIN or a file"
Currently when using

`--restore-deterministic-wallet --electrum-seed "the seedphrase"`

it means that the seedphrase can be seen in a trivial `ps` output and will also potentially be in shell history. This is not just a short running process, when recovering a wallet and leaving it running, the seedphrase can be seen in the process arguments until the wallet is exited.

Instead of the current beh

[2019-05-10 12:06] who-biz commented on #53
Thanks for letting me know @leto. I'll be pushing back the fork height while I work out a patch.  Sorry, I just saw this now.

[2019-05-10 12:09] who-biz commented on #53
Does the wallet exit properly? The NDEBUG code I just removed from `CMakeLists.txt` was blocking a lot of exceptions it looks like

[2019-05-10 12:16] who-biz commented on #53
In the past, I've always recommended people use the `--restore-deterministic` option, and follow the prompts, which request entering the seed phrase one line at a time. That's the same behavior you're saying would be best to include with the `--electrum-seed` option as well, correct?

[2019-05-10 12:25] leto commented on #53
@who-biz I didn't really know how to recover/import my wallet to a new machine, so I just read --help and after doing the wrong thing various times, I figured out something that worked.

I was confused about "electrum seed", because I used the seedphrase generated by a blur full node, but I either failed to use --restore-deterministric or it wasn't clear that I should have used that.

If I should

[2019-05-10 12:27] leto commented on #53
@who-biz typing `exit` did work correctly. I am on the f31b8ac commit of master branch

[2019-05-10 13:49] who-biz commented on #53
As nearly as I can tell, not much.  Electrum style seeds are used as default in our codebase, by inheritance from XMR, since launch.  From that information, they should be the same command.

So the fix, if that's the case, would just be a matter of removing the --electrum-seed option completely, and updating the help text since you've let me know that its lacking proper instruction.

[2019-05-10 13:54] who-biz commented on #53
Something that was waiting down the pipeline as well, was separating the viewkey and spendkey so that the viewkey is not deterministic (derived from the spendkey, of which the mnemonic is a representation).  I think this is a disavowal of established best-practices, and to the best of my understanding, was eliminated because a single mnemonic couldn't be used to generate two distinctly unrelated k

[2019-05-10 13:57] who-biz commented on #53
I'll give the wallet some testing with the latest commits to master, since I just removed the NDEBUG conditional from CMakeLists.txt.  it seems that was surpressing an exception in p2p on daemon exit, so I'll need to poke around a bit.

[2019-05-10 14:02] who-biz commented on #53
Lastly, you can find the procedure for the seed phrase restore here https://github.com/blur-network/blur/issues/24

[2019-05-10 14:12] who-biz commented on #51
Beginnings of this in commit https://github.com/blur-network/blur/commit/ab4f780578fd1fbcf9f20b3cf465c2677cdb33a1.  A LOT more work to go.  epee appears to have been using some sort of modification of the `size_t` type and `std::size_t` was littered throughout code in the same places that `size_t` was being used directly adjacent.  Epee namespace was treating these instances as special cases (as `

[2019-05-14 20:27] who-biz commented on #53
The help text from this original issue has been amended in https://github.com/blur-network/blur/commit/12ae6ce7614fdbf8a67663875a7a10dffa32fb2a.

I am going to leave this issue open, as a means for documenting the other prospective changes within keypair separation, and chacha20poly1305. We'll close it once those are completed.

[2019-05-14 22:32] who-biz commented on #53
The help text from this original issue has been amended in commit https://github.com/blur-network/blur/commit/8a15a76846d5343e6d5d72cc50a2181b3647e5ad

I am going to leave this issue open, as a means for documenting the other prospective changes within keypair separation, and chacha20poly1305. We'll close it once those are completed.

Amended help text:

[2019-05-16 15:21] #53 closed

[2019-05-16 15:24] who-biz opened #54 "Mnemonic seeds and keys are not handled securely"
Since our mnemonic seed is a representation of the private spendkey, we should take better care to ensure that it is not trivially read from some plain-text source.   This issue was raised by a member of our Telegram chat.

We should be using some secure storage mechanism (like that which libhydrogen provides for stored representations of passwords, for example) to protect users from phishing atta

[2019-05-16 15:29] who-biz opened #55 "Enhancement: (Re-)Separation of view/spend key-pairs"
As mentioned in the discussion here: https://github.com/blur-network/blur/issues/53...

`Viewkeys are deterministic, currently (derived from the spendkey, of which the mnemonic is a representation). I think this is a disavowal of established best-practices, and to the best of my understanding, was eliminated because a single mnemonic couldn't be used to generate two distinctly unrelated keypairs.

[2019-05-16 15:33] who-biz opened #56 "ChaCha20Poly1305: Nonce is not incremented above 2^70, allowing for inadvertent reuse"
This is security-breaking behavior.  Simply generating a random nonce each time is not sufficient in this scenario.  We need to use a counter as well, to ensure that nonce search space does not result in duplicate values for a given nonce + MAC key.

For the implications of what this inadvertent reuse could result in, see:
https://github.com/miscreant/miscreant/wiki/Nonce-Reuse-Misuse-Resistance

[2019-05-21 07:16] who-biz commented on #56
Why don't we place a hard stop at 2^70 at this point?  If we can't securely encrypt data larger than that (limitation of chacha20), or if it never happens ... why not place a stop there instead of making it a user's responsibility?

[2019-05-22 14:42] leto opened #57 "unspent_outputs N M does not seem to work"
I have various unspent outputs, when I try to filter the results to a range, the RPC does not seem to work. No matter what values of N and M I give, no results are returned.

[2019-05-23 15:09] who-biz opened #58 "Thread stack size seems too large."
In `src/cryptonote_config.h` the macro for `THREAD_STACK_SIZE` is defaulted to `5*1024*1024` or `0x500000`...  This should probably be `0x80000` instead.

This may be the cause behind the the strange behavior w.r.t. to hashrate declining when we use more cores in larger processors.  We should not be allocating 5.24 MB per thread

I'm sure boost::thread provides a way to allocate thread stack size

[2019-05-23 20:44] who-biz commented on #58
@leto Since I'm not very familiar with threads, if you could just give your approval that this seems correct, i'll go ahead and make the changes.  Alternatively, PR it yourself if you'd like to earn yourself a full-fledged contributor badge.

Consideration:  Our algorithm uses a 1 MB scratchpad.  Knowing that information, I'm unsure if 0x80000 or 0x40000 would be better here. Most likely the latte

[2019-05-23 21:22] who-biz commented on #57
The command worked properly for me.  Upon issuing the command to a wallet, response `no unspent outputs for this address` is shown when the wallet doesn't have any UTXOs, and when issued to a wallet that does, it functioned properly as well.

Account for testing of the latter scenario, this wallet only had 1 output.  So, the issue may be related to the number of outs your wallet is trying to count

[2019-05-23 21:44] who-biz commented on #58
This has relevance to mining in code located here: https://github.com/blur-network/blur/blob/master/src/cryptonote_basic/miner.cpp#L352

[2019-05-23 22:02] who-biz commented on #57
Ah, nevermind.  It is due to the removal of the `std::` scope from the `size_t` type in various locations.  I'll add those back now, so we can move forward with a point release.

[2019-05-23 22:52] leto commented on #58
@who-biz this seems reasonable to me :+1:

[2019-05-24 15:54] who-biz commented on #58
Should be fixed in https://github.com/blur-network/blur/commit/f9d535baa5453d6e5a67a46b6f1f0a21f8548771.

[2019-05-24 15:54] #58 closed

[2019-05-24 15:55] who-biz commented on #57
Should be fixed in https://github.com/blur-network/blur/commit/ca825da1fbbaca514bd432b60ebde536c012a96c.  Let me know if the issue persists.  Closing this one for now.

[2019-05-24 15:55] #57 closed

[2019-05-28 19:50] who-biz commented on #51
Something found when building the snap for v0.1.9.6 (snapcraft core uses ubuntu:16.04)

<img width="830" alt="SnapBuildWarning" src="https://user-images.githubusercontent.com/37732338/58507632-2e96f780-8160-11e9-9236-88f0cecebd08.png">

Definitely worth looking into what exactly is going on here... as it may be the cause of some of the p2p oddities.

[2019-05-29 02:50] leto opened #59 "Build error on master"
[code]

on commit fb9b0539e9e2e9479a4aa0ca319daca51a6cc32e

[code]

[2019-05-29 08:39] who-biz commented on #59
should be fixed in https://github.com/blur-network/blur/commit/4a995f668ae740282201bc15859304be67978914

[2019-05-29 08:43] who-biz commented on #59
thanks for letting me know. Missed that one completely

[2019-05-29 08:43] #59 closed

[2019-06-15 04:37] leto opened #60 "Build error on Ubuntu 19.04"
On a new 19.04 machine I installed only the necessary (not optional packages)

[code]
This happened on  commit 565ebaf1a1a41be56a4cb66e8f43ba1e61bb956e

[2019-06-17 22:28] who-biz commented on #60
Documenting here for others who may have this issue, despite us speaking on Discord about needing to move the readline library to the required dependencies list.

If you see the above error, you are missing the libreadline-dev package, as it was listed as optional.  However, it is not linked conditionally.   If anyone sees any problem with making this mandatory, we can go the conditional linking r

[2019-06-17 22:30] #60 closed

[2019-06-21 01:42] who-biz opened #61 "[bug]blurd links libncurses for static build on mac"
output from `otool -L blurd`:
[code]

This should not be happening.  Possibly a problem with build environment.  Issue is present with binaries specifically, compiled source should function fine on the host machine that compiles it -- but it won't be portable with this linkage

[2019-06-28 01:42] who-biz commented on #50
Resolved with most recent explorer build.

[2019-06-28 01:42] #50 closed

[2019-06-30 22:37] who-biz commented on #61
should be fixed in https://github.com/blur-network/blur/commit/46464818b93f523f390cf075d9fd3b1a88be4b40

[2019-06-30 22:37] #61 closed

[2019-07-10 05:07] who-biz opened #63 "Incorrect block hash appears periodically during sync"
Errors like this one pop up periodically while syncing if full verification is enabled

`src/cryptonote_protocol/cryptonote_protocol_handler.inl:1031	[xxx.xxx.xx.xxx:52541 OUT] Got block <c45c2622079c1abf1400000000000000697e28464e7f0000140a000000000000> with unknown parent <fd365d62f979f8651708a6eb7e543730c32ff261684e3a337ffce8dd6c633be7> which was not requested - querying block hashes`

The paren

[2019-07-22 09:36] leto commented on #63
I am seeing this on Ubuntu 16.04 as well, just figured I should mention

[2019-07-22 09:41] leto opened #65 "Log reason for banning host"
I saw a message that one of my mining rigs banned another rig on my LAN, but no reason was given. It would be useful for some kind of reason to be logged, to aid in debugging.

FYI I am also using the `--allow-local-ip` option

[2019-07-24 01:09] who-biz commented on #65
This is a good idea.  The `host blocked` message you received was printed in red correct?  I am having trouble finding the location at which this occurs in code. Doesn't appear to be the one located in `net_node.inl`, as that message should be displayed in blue/cyan colored text.

[2019-07-24 01:16] who-biz commented on #65
Also, would you mind opening another issue following our discussion about nodes mining when not connected to the network/offline mining?  That is an issue that should be handled with some urgency, IMO. I think some public discourse on it may be helpful, as well.

[2019-07-24 03:10] leto opened #66 "Prevent mining when disconnected from network"
I noticed that `blurd` will continue to mine after a suspend + resume when no internet access exists on resume. It will mine and use CPU resources indefinitely, not realizing it has no valid peers and no internet connection. Not even a valid interface, since there was no valid wifi connection nor ethernet connection.

It seems that `blurd` could have heuristics to detect this edge case and stop mi

[2019-07-24 03:11] leto commented on #65
@who-biz sure thing, here ya go: https://github.com/blur-network/blur/issues/66

[2019-07-24 03:13] leto commented on #65
@who-biz and to confirm, yes it was printed in red on STDOUT. It blocked a host on my LAN, so I was really intrigued about *why* it blocked it. I can also say that the node blocked was not listed as a priority node, which is not surprising.

[2019-07-24 05:57] who-biz commented on #66
Thank you for opening this issue, and for the detail you included.  Specifically, the BTC-world behaviors were ones that I was hoping you would note.  Since we can't sync to the network unless there are at least 2 peer connections (3 peers total in network, including our own node) this seems like something that is a design mistake or flaw (whether unintentional or otherwise).

I will be looking in

[2019-07-24 06:02] who-biz commented on #65
*That* is very interesting.  I'll keep trying to trackdown the locus of this specific blocking.  If it is not within the p2p code, then it will be happening in the epee library.  Will get back once I find it.

[2019-07-24 13:07] who-biz commented on #65
Aha! So the `MCLOG_CYAN` prints the location in source giving rise to the error in cyan... and the actual log message in red.   So the location https://github.com/blur-network/blur/blob/master/src/p2p/net_node.inl#L172 is indeed the one we are looking for.

As an added bonus, I figured this out while adding log messages for notary node wallet generation... Instructions now added to the <a href="ht

[2019-07-24 16:26] who-biz commented on #65
Should be resolved in https://github.com/blur-network/blur/commit/9f8a0a496859ec935f0692995f6d9de1278600ba. If, for some reason, the added messages aren't displayed, please let me know and we can re-open.

You should see two messages :

1.) Upon failure to connect after 9 attempts, when node is added to block list.
2.) Upon finding the node's address on the block list, after it is added.

[2019-07-24 16:27] #65 closed

[2019-07-24 17:58] leto commented on #65
awesome, I will test it on some new rigs soon :+1:

[2019-07-24 22:22] HorribleGelatinousBlob commented on #66
It is not valid for a single node to mine. Rebase to monero and this problem will be resolved.

[2019-07-24 22:27] who-biz commented on #66
Right, where ignoring problems and disparaging those who ask questions is considering "solving" a "problem".

This issue isn't solved on Monero. There's just so few full nodes that the network is blissfully unaware of the problems with consensus. Recall how pools go off on their own forks occasionally?  That's the issue being voiced here.

So are you here to help?  If not I'll presume you're here

[2019-07-24 22:28] HorribleGelatinousBlob commented on #66
no. mining stops if you lose connections. that is the stated issue here

[2019-07-24 22:33] who-biz commented on #66
If a node on monero thinks it is fully synced, you will be able to mine.  That is the problem here and it has nothing to do with connections.  Core receives a callback from `m_p2p.get_payload_object().is_synchronized()`.  If that evaluates to true, anyone can start mining, or continue mining, on any Cryptonote network. It has nothing to do with connections, and that is the problem.

[2019-07-25 13:13] leto commented on #66
@HorribleGelatinousBlob I am new to XMR internals, so I might be mis-understanding. But it seems that you are saying this bug is specific to BLUR and merging in new XMR changes would fix it. Is that correct? Did a bug like this previously exist in XMR and was fixed? Or are you saying BLUR introduced this?

[2019-07-27 05:58] who-biz commented on #63
Maybe a bit presumptuous, but this appears to be the area of code that is likely causing the issue: https://github.com/blur-network/blur/blob/master/src/cryptonote_protocol/cryptonote_protocol_handler.inl#L965-L1186 Noting here to come back to later, when I have proper time.

[2019-07-29 03:15] leto commented on #63
Just giving another example here in case it's useful:

[code]
which happens on the latest master commit 9f8a0a496859

[2019-07-29 05:04] who-biz commented on #63
@leto you're saying that commit directly affected a change in block verification? Or something else?

These are separate bugs, I think.

[2019-07-29 11:52] leto commented on #63
@who-biz sorry, I thought those were the same error message. Please disregard

[2019-07-30 00:23] who-biz commented on #63
@leto No, they are indeed the same error message.  However, based on the structure of the invalid PoW hash, there appears a different catalyst behind them.  Are you able to discern if that commit precisely caused the behavior you're seeing?

[2019-07-30 00:29] who-biz commented on #63
Either way, I think opening a separate issue report for the bug you're seeing is likely the best course of action.  It appears that the hash with zeroed bits in my original issue report is being caused by over-scanning of the data stream in the database, or something like that.  Possibly the txn being committed on an incorrect bit.

[2019-09-01 02:58] who-biz commented on #63
@leto The padded hash that I was encountering is fixed in https://github.com/blur-network/blur/commit/5f5f88614e5a25605861235421d36fe61c880cdd.  However, I am now seeing the incorrect hash appearing as well, with an error that reads: `construct null not valid` after changing the code that writes the block hash to `stdout` to use `ostringstream`.

So, you were correct in thinking these arise from t

[2019-09-01 04:00] who-biz commented on #63
FWIW this https://github.com/blur-network/blur/commit/2072f15df5583cba7a2c6f3b976d9f74d47aad59#diff-fca43d50a482c1d6cfb80eee7fcf688dL172 removed code from upstream, which appears to have occurred here: https://github.com/monero-project/monero/commit/c3b3260ae5b5acde445fa88a6f0909f582903754

[2019-09-01 04:33] who-biz commented on #63
Should be fixed in: https://github.com/blur-network/blur/commit/599595d34a399dd29c0d2028f7d6604f33e70b98

Testing now.

[2019-09-01 09:58] leto commented on #63
@who-biz I haven't tried to use the latest code on any rigs lately, but I will be doing some rig maintenance and will let you know what I find

[2019-09-09 05:44] who-biz commented on #63
For purposes of fully documenting the error messages:

[code]

`x`s denote one node, `y`s another.  Other IP was left in, since it is a seed node address, anyway.

[2019-09-09 05:46] who-biz commented on #63
For purposes of fully documenting the error messages:

[code]

`x`s denote one node, `y`s another.  Other IP was left in, since it is a seed node address, anyway.

[2019-09-09 13:50] leto commented on #63
@who-biz I am relatively sure that figuring out *exactly* why this happens will clear things up:

[code]

I have seen that _M_construct null error before in Bitcoin/Zcash C++ codebase, and usually means some kind of bad data marshalling, such as an empty string attempting to be used as an object

[2019-09-10 02:30] who-biz commented on #63
This makes sense, because this portion of code has comments stating that the last block transmitted by a peer may be empty due to `x` circumstances.

The part that is concerning me, is that the node syncing drops the connection on this single invalid block. So, a peer sending invalid blocks seems to cause the block streams from other peers to be considered invalid as well, and all affected connect

[2019-09-11 03:44] who-biz commented on #63
Disregard all of the commits above. They've been reverted as they did not solve the issue.

[2019-09-13 12:39] leto commented on #63
@who-biz looks like you are getting closer to the entire fix.

If some nodes are calculating a hash differently than other nodes, that leads me to think that some OS-specific or compiler-specific issue is causing the calculation to be different, leading to a consensus change and the nodes forking.

Sometimes this is caused by data types meaning different things or having different sizes or bit ali

[2019-09-13 18:52] who-biz commented on #63
@dukeleto

Something that I found out recently: all types suffixed with `_t` are reserved as macros on POSIX systems. Maybe related?

[2019-09-13 19:22] leto commented on #63
@who-biz these kinds of bugs happen in Bitcoin/Zcash world in the internals of GMP, which have bugs on Windows. Most coins have their own patches for GMP to fix it

[2019-09-13 19:33] who-biz commented on #63
I'll look into this as soon as I can. It sounds a bit more involved, but it may be somewhat easy to port BTC's changes, similar to what was done with the `depends` build system.

[2019-09-13 19:43] leto commented on #63
@who-biz yes, if you look at the source code of KMD, there are various places where GMP patches are applied to fix bugs in Windows and I think also mac. All Zcash forks have these patches to make stuff work correctly across platforms, not sure any of it has ever gotten upstream to Zcash itself nor GMP.

[2019-11-23 19:41] hooftly opened #70 "Tail Emission Calculation is Incorrect and will not trigger until 0.2 BLUR per block is reached"

[2019-11-24 20:53] who-biz commented on #70
It does appear that there are only 11 zeroes there.  Good catch.

As I said on Discord, our plan is to have emission be static at 2.0 BLUR/block once we hit 2.0 in rewards... Current code does not reflect that however.  But we are a ways off from that point currently.  I also do not think that our current emission scheme accounts for the first block's reward being 360,000 BLUR.    So there are som

[2019-11-28 08:21] who-biz commented on #63
https://github.com/blur-network/blur/commit/0f148c65f3d5e41158f5484c9dd1ccc3f9358faa appears to have resolved this.  Just removed the problematic area of code, since all it was doing was a check against a block queue, which really isn't being employed properly anyway.

For whatever reasons, Monero developers appear to have intentionally crafted this into a synchronous process, which means a queue

[2019-12-10 09:40] fart-master opened #71 "Be more precise in text descriptions concerning hardware advantages"
There is a working GPU miner here
https://github.com/fart-master/blur-miner
Yet your website and marketing materials say this coin is CPU only mining. The website specifically is especially egregious, with statements like

and

Neither of these statements are correct. The entire premise of this coin being CPU only mining is a fallacy. Please correct the website. Additionally this comment on the bl

[2019-12-23 15:49] Mikerah opened #72 "Documentation explaining Blur interoperability"
I'm a researcher in the blockchain space and I recently stumbled upon the Blur Network. One of the claims made is that it aims to be interoperable with BTC, XMR and ZEC. However, there is no documentation explaining the mechanisms used to achieve this. Is there any documentation I can read to learn more about this?

[2019-12-27 19:21] who-biz commented on #71
I’m sorry, but I don’t see anywhere that claims our code is GPU-resistant, or ASIC-resistant for that matter.

I appreciate you proving that a GPU miner is possible, seemingly on any algorithm variant. This means that virtually all of crypto appears to be under the illusion that resistance is possible to hardware types. Clearly, it is not.

We only claim to favor CPUs, by drawing blockchain data d

[2019-12-27 19:24] who-biz commented on #71
Please change the title to something more intelligible, as we don’t claim anywhere to be “cpu-only”. Only that we favor CPU strengths.  “Fake advertising” seems particularly cool inflammatory and quite possibly maliciously seeks to give a false impression.

[2019-12-27 19:26] who-biz commented on #71
With all that said, the website text will be amended once our team gets around to it. Those words were true at the time of writing, but you are correct that some of them no longer are.  Regardless, the network thanks you for your adversarial development of a miner. While intent was Im sure less than productive, we welcome others to challenge our model in the open source manner that you have.

[2019-12-27 19:34] who-biz commented on #72
@Mikerah you can find the code being written toward that goal here: https://github.com/blur-network/dpow-blur

Interoperability is not yet possible. But, that repo is capable of handling BTC-specific types and structures.

If you have further questions, please open an issue on that repo instead.

[2019-12-27 19:35] who-biz commented on #72
Closing due to being opened on the incorrect repo.

[2019-12-27 19:35] #72 closed

[2019-12-28 21:18] who-biz commented on #71
Will leave this open for a few days to see if we can get a dialogue going.

@fart-master would be great if you could address my question regarding the breaking of pool template dispatching

[2019-12-29 01:26] fart-master commented on #71
I will attempt to address what you are saying in point form

1. Your website specifically states that GOUs don't work. You also have a graphic with a big cross through the word GPU and a tick on the word CPU. You can try to split all the hairs you want. You are clearly giving people the impression this is a CPU only coin when it isn't.

2. A node is not required. the GPU miner can run against a sy

[2019-12-29 07:51] who-biz commented on #71
We are forked from Nerva.  The only claims being made there, are ones that were inherited from them, and were assumed correct.  As you've said, it is clear that those assumptions were incorrect.   However you may interpret the graphic, pictures are subjective.  Our goal is making CPU mining logically viable for a longer period of time.  That means not officially supporting technologies that lead t

[2019-12-29 08:00] who-biz commented on #71
`Running a pool does not concern me. I have already proven it possible, but if you would like a blur pool, let me know and i'll relaunch it.`

It would be good to see one running in the open for longer than a few blocks, to observe.  You've seen that I won't be deluding our users into wrongful perspectives on resistance.  So yes, all mining adaptations are helpful to have around.  Just let me know

[2020-01-01 11:16] fart-master commented on #71
where to begin.

it is not required to read the previous block hash from the blockchain. it is part of the block hashing blob, which is what is hashed for proof of work. it is easy to extract this information as i demonstrated in the miner. saying the node needs to run somewhere is just silly. of course it does. pools run a node. but you don't need to "know" anything. the information is provided.

[2020-01-01 22:36] who-biz commented on #71
And I see we have stopped wanting to have a conversation, and have devolved to your usual insults (appropriating insults from others, nonetheless - *at least be original... Come on...*)

**Mind running that pool we talked about?**

I'll leave this open until the text on website is amended.

[2020-01-01 22:39] who-biz commented on #71
Oh, also:

This is inherited from the DoS-prone protocol code that was written for Monero.  I won't be hacking out code that validates incoming blocks, but sync/protocol should definitely be rewritten to handle incoming blocks in a non-synchronous way.  Putting a sync process in front of an async one... tsk-tsk :)

[2020-01-08 07:04] fart-master commented on #71
Yeah man. I don't think you know what sync and async mean. there is no sync process in front of any async process. unless you can explain some part of the code i don't understand, which is doubtful. Probably not worth it to restart the pool seeing how no one is buying blur any more. Not sure what running a pool is going to prove to you. maybe you'll just claim the website is fake. But anyone that

[2020-01-08 17:07] who-biz commented on #71
Uhhh, the protocol's code begs to differ... even you agree with this, prior to this last message.

See:

This wouldn't work with an asynchronous process, because a queue would be properly utilized.  So, either you "fixed" something, by hacking out part of the problematic sync process... Or you are lying and fixed nothing at all.  Either way, what you're pushing is dishonest.

[2020-01-08 18:45] fart-master commented on #71
You don't make any sense. I asked you to explain yourself. You didn't. You don't seem like you understand the code you work with. You want a conversation then waste time with nonsense. I see no point to continuing talking to you. I see you doing this a lot. Just talk meaningless nonsense until the other participants give up and leave. Is this a deliberate tactic to try and avoid rational conversat

[2020-01-08 20:22] who-biz commented on #71
Locked so that we can't waste any more of @fart-master's precious time, in his months-long, obsessive, quest to malign BLUR

[2020-01-08 20:23] who-biz commented on #71
Will still leave open until website text is amended.

[2020-01-18 00:43] #63 closed

[2020-02-10 21:31] who-biz commented on #71
Closing, due to website text having been amended.

[2020-02-10 21:31] #71 closed

[2020-02-22 01:42] fart-master opened #79 "Still lying about the algorithm on the website"
Why not just tell the truth. GPUs work, pools work. the algorithm does not need to be updated every 5 seconds and the algorithm requires no access to historical block data.

[2020-02-22 01:48] lazaridiscom commented on #79
Hey, even high-profile projects are lying, usually without reason.

This one is a very low traffic project.

If you think they lie, they're possibly just lazy to update the site / code.

[2020-02-22 01:55] fart-master commented on #79
They did update the website. that's the point. I raised the same issue weeks ago. they updated the website and kept misleading information in there.

[2020-02-22 02:06] lazaridiscom commented on #79
Seeing issue #71 i can tell you that this is not how a malicious actor operates, at least they do not block you.

me not sure why I watch this repo, but i think(!) i started watching it because of the "CPU ONLY" argument (which the graphic on the website very very clearly communicates: CPU ONLY).

But if you're right, then it's possibly the easiest to just produce a tiny video or so.

But what is

[2020-02-22 02:07] lazaridiscom commented on #79
Addidtionally, are you aware that this is a solo-contributor project:

https://github.com/blur-network/blur/graphs/contributors

[2020-02-22 02:13] fart-master commented on #79
Another sheep i see. Cause sure. Why would we want people that claim to be honest and transparent to actually operate honestly?

[2020-02-22 02:14] fart-master commented on #79
And it did get locked. he just unlocked that issue after it was buried in the closed issues

[2020-02-22 02:21] lazaridiscom commented on #79
Of course I'm a dumb sheep, otherwise I would not talk to a fartmaster at dawn.

If you are in the mood for truth, attack larger projects like tezos or cosmos.

I do not understand why you place so much value in this project.

[2020-02-22 02:27] fart-master commented on #79
You don't seem to understand. I place no value in blur. I do place value in holding biz to account. He is a liar that tries to make a name for himself attacking other projects. All i am doing is giving him back what he so happily hands out

[2020-02-22 02:36] who-biz commented on #79
Closing due to pointless banter.

[2020-02-22 02:36] #79 closed

[2020-02-22 02:38] who-biz commented on #79
I’d like to remind everyone that the issue tracker is for real issues in code. Not slander du jour

[2020-02-22 02:40] who-biz commented on #79
I do agree, though, that Cosmos is doing some very cool things.

[2020-02-22 02:56] lazaridiscom opened #80 "You don't seem to understand. I place no value in blur."
You don't seem to understand. I place no value in blur. I do place value in holding biz to account. He is a liar that tries to make a name for himself attacking other projects. All i am doing is giving him back what he so happily hands out

_Originally posted by @fart-master in https://github.com/blur-network/blur/issues/79#issuecomment-589907990_

I really think that you should focus on other pla

[2020-02-22 03:05] who-biz commented on #80
You are free to do that elsewhere. This medium (issue tracker) is for issues in code. There are plenty of social places for chit-chat.

Things posted here are for A.) My reference B.) The reference of potential contributors and C.) The reference of our users so that they may be informed about potential issues in software.

Commentary and opinion have their place in their proper areas, too.

[2020-02-22 03:06] #80 closed

[2020-02-22 03:13] lazaridiscom opened #81 "You are free to do that elsewhere."
You are free to do that elsewhere. This medium (issue tracker) is for issues in code. There are plenty of social places for chit-chat.

Things posted here are for A.) My reference B.) The reference of potential contributors and C.) The reference of our users so that they may be informed about potential issues in software.

Commentary and opinion have their place in their proper areas, too.

_Origi

[2020-02-22 03:18] who-biz commented on #81
No, “fascism” would be me not allowing you to continue with the ad hominem attacks.

I’m requesting civility, and to stop getting in the way of useful info for our users.

[2020-02-22 03:24] lazaridiscom commented on #81
See, wasn't so difficult.

Criticism is always valid feedback. So, let this "fart" talk, your users can simply select to Unsubscribe the issue.

[2020-02-22 03:28] who-biz commented on #81
Criticism is good. Pointlessly contrary viewpoints that run themselves up trees, repeatedly, are not. The latter is strictly counter-productive.

[2020-02-22 03:31] lazaridiscom commented on #81
Well, I was interested. The only reason I followed this project was the "CPU ONLY" claim. So, even if there is much noise, I'd like to hear what he has to say.

[2020-02-22 03:33] lazaridiscom commented on #81
but ok, giving up now.

[2020-02-22 03:33] #81 closed

[2020-02-22 03:34] lazaridiscom commented on #81
hey, @who-biz , you can delete the issues I've filed

[2020-02-22 03:34] who-biz commented on #81
Yes, our CPU-only assumption was inherited from our upstream. I’ve said many times we won’t resist hardware adaptation. Doing so makes no sense at all.

I’ve thanked fart for his development of a GPU miner, despite being developed adversarially. That kind of stuff, we welcome.

[2020-02-22 03:35] lazaridiscom commented on #81
delete the issues.

[2020-03-19 22:04] who-biz commented on #52
[code]
Appears resolved.  Closing.

[2020-03-19 22:04] #52 closed

[2020-05-24 19:00] JustFragger opened #82 "Cannot open CLI wallet of Blur"
Hello !
There"s an error in CLI wallet so I can"t create or open blur-cli-wallet.ex.
Here"s what it says : `terminate called after throwing an instance of 'boost::system::system_error'
  what():  boost::filesystem::path codecvt to wstring: error`
I have for this time GUI walelt , but every time i want open it , it says couldnt open wallet : invalid password , so I have to all the way recover it fr

[2020-06-08 19:35] trurebel opened #84 "Prereqs missing for Mac build on Ubuntu"
Probably very few have tried building this project lately, I copied and pasted commands to build for Mac and, so far: pip needs to be installed, ez_setup needs to be pipped and

`home/ubuntu/blur/contrib/depends/work/download/native_cctools-807d6fd1be5d2224872e381870c0a75387fe05e6/clang-llvm-3.7.1-x86_64-linux-gnu-ubuntu-14.04.tar.xz.temp: OK
Extracting native_cctools...
/home/ubuntu/blur/contrib/

[2020-06-08 20:06] trurebel commented on #84
got m4, automake, libcap-dev but, still:

`  Error: found a Linux system but no libcap header.  Install libcap-dev.
`

[2020-06-08 22:50] who-biz commented on #84
It looks like you are missing `autoconf`.

You should be able to proceed if you install that package. However, if you are trying to cross-compile for Mac... you will run into more errors further in compilation.

I’ve not been able to get the `depends` build system functioning for macOS, unfortunately. Our binaries for macOS are never cross-compiled, as  result.

[2020-06-08 22:56] who-biz commented on #82
@JustFragger

Please see if the issue persists on the latest version, here: https://github.com/blur-network/blur/releases

[2020-06-09 00:32] who-biz commented on #84
That said, `pip` and `ez_setup` are requirements, so I can add some notes about it

[2020-06-09 00:36] who-biz commented on #55
Note: notary nodes in the https://github.com/blur-network/dpow-blur repository, will use separate keys.

After we fork those changes in, adding some prompts and options (for doing this by default), should be relatively trivial.

[2020-06-09 07:43] JustFragger commented on #82
Hello @who-biz

Problem still persists on latestest version , nothing changed same error as I wrote above.
OS: Windows 10 Home (Standard)

[2020-06-09 16:46] who-biz commented on #82
Thanks for quick response. Will check it out today on a Windows machine. I’ll update you once I have a look at it!

For now, as a temporary workaround, I would recommend using the GUI, or downgrading to an earlier version of the wallet (v0.1.9.9.1 and earlier should work fine)

[2020-06-09 16:47] who-biz commented on #82
Just a note that downgrading daemon isn’t necessary. Previous wallet versions should work just fine with a newer version of daemon

[2020-06-23 16:53] who-biz commented on #84
A note has been added about the failing macOS cross-compilation Makefile options.

https://github.com/blur-network/blur/commit/a457426727bf1a8d4763a5b70206bca1faf52d45

[2020-06-25 19:59] who-biz commented on #82
@JustFragger any chance you could provide some logs so that we can get to the bottom of this issue?

[2020-06-28 08:26] JustFragger commented on #82
Yeah, here it is : (it"s full log from CMD CLI wallet window no more it says)
[code]
I can say , that GUI wallet is working but there"s bug when I enter correct password it says invalid so i have to recover from seed again and again ....

[2020-07-17 18:54] trurebel opened #85 "Ultraminor, but your mining cli example with blurd mixes up the = with the _space_ notation"
presumably both = and space work for blurd's command line options, but the example you give somewhat confusingly reverses what you show in the previous line

[2020-07-17 19:04] who-biz commented on #85
@trurebel that is true on Linux, that both spaces and `=` will work for specifying command-line options.

On Windows, however, I believe, both, the equal signs, and quotes are necessary... particularly if using a `.bat` file for launching.

If that’s not what you meant, please elaborate further and we can fix whatever discrepancies exist.

[2020-07-17 19:53] trurebel commented on #85
If Windows needs both, best give all examples in that style.

[2020-07-17 19:56] who-biz commented on #85
This is a good idea. Thanks. Will amend accordingly

[2020-07-18 15:07] trurebel opened #86 "Block 991693?"
Hey

I compiled blurd on my two Ubuntus, 16 and 19, and both daemons are stuck at 991693 , any ideas?

[2020-07-18 15:10] who-biz commented on #86
Database needs resized. Simply relaunch your daemon

[2020-07-18 15:37] trurebel commented on #86
Wow, that's new! How often does this happen?

[2020-07-18 15:39] who-biz commented on #86
According to LMDB’s documentation, on 64-bit systems, database should never need map resizing. So it’s somewhat odd that it needs to happen, in the first place.

But only about once every 1M blocks. Previously, it was happening much more frequently. We‘ll be adding some auto-resizing so that a manual restart is not necessary to trigger this.

[2020-07-18 20:21] #86 closed

[2020-07-20 19:25] #85 closed

[2020-07-20 19:28] who-biz commented on #85
Please note that procedure on <a href="https://github.com/blur-network/blur/releases">Releases page</a> will be updated upon next release.

@trurebel, if you would, please check that the source of this issue is properly corrected.

[2020-07-22 22:09] who-biz commented on #86
@trurebel as of commit: https://github.com/blur-network/blur/commit/ba05bbceef3cda880b32ef2a838858f57bc4c7e8, restarting a node is no longer necessary to trigger a map resize in LMDB.

Initial allocation has been reduced substantially as well.

[2020-07-30 19:43] who-biz commented on #82
@JustFragger I was unable to reproduce this error on Windows 10 Home, when running the release that will be uploaded shortly (v0.1.9.9.5).

Are you using a non-English language, by any chance?

Also, if you don't mind, try creating a wallet file without a password, and see if you can open that.  Trying to track down where this is coming from. In my testing, I did not set a password during wallet g

[2020-07-30 19:50] who-biz commented on #82
Actually, just tested with a password as well. All seems in order. Recommend running the wallet from the latest release, once posted. Should be tagged/uploaded later this evening.

[2020-07-30 19:50] #82 closed

[2020-07-30 22:07] who-biz commented on #85
Just a note that releases page has been updated with your recommended changes.  Thanks again for reporting.

[2020-07-31 09:53] JustFragger commented on #82
@who-biz Im using my own language not English so maybe theres problem but i dont know , lets give it try >3
Thanks for looking at it

[2020-07-31 18:40] who-biz commented on #82
Sure thing! Let me know if you have issues still, when using English locale. I'll also begin digging to the bottom of the issue with other languages.  Only supporting English is non-ideal, of course.

Thanks again for reporting this.

[2020-08-27 19:47] who-biz commented on #70
@hooftly Please note that the issue you mentioned has been resolved in this commit: https://github.com/blur-network/blur/commit/44f099d88ad70195c79b138261e40d949f88cda8.

Changes to `blockchain.cpp` and other areas this may affect still need made.  Will leave this open until those are made, and merged into `master`.

[2020-12-10 10:23] piotr-sikora-v opened #87 "unknown command: show_hr"
I have latest version from github and my blur-wallet-cli don't kwno this option

same in blur-v0.1.9.9.5-linux_x86_64 from snap.

[2020-12-10 19:31] who-biz commented on #87
`show_hr` needs to be typed into the running `blurd` interface, not `blur-wallet-cli`.

Try that, and it should work.  Let me know if it doesn't, however.

[2020-12-11 08:35] piotr-sikora-v commented on #87
yes it wokrs, now it start loggin in to stdout/logfile.
is any option to turn off loggin this ?

[2020-12-11 23:56] who-biz commented on #87
Yes. `hide_hr` will do that.  You can find more commands for the daemon, by typing `help` into the running `blurd` interface.

[2020-12-11 23:56] who-biz commented on #87
Closing as resolved.

[2020-12-11 23:56] #87 closed

[2021-01-13 05:39] awestsecurity opened #88 "Sync gets stuck on Windows CLI"
I started a new node with the most recent version of the CLI and syncing became stuck many times throughout the process. Restarting `blurd` temporarily resolved the issue. The time between getting stuck was inconsistent. Anywhere from 1,000 - 60,000 blocks. No new message is displayed when sync stopped. Syncing could complete after many restarts.

My operating system is Windows 10, 64bit

[2021-01-15 19:48] who-biz commented on #88
Thanks for opening this issue.  We cross-compile our Windows binaries using a Linux host.  It's possible that compiling with `mingw` on a Windows host might resolve this issue.

marking this as under-investigation pending some digging.

[2022-04-12 07:50] RowanSkie opened #89 "Site is dead."

[2022-04-12 14:43] who-biz commented on #89
Thanks, was just made aware of this yesterday. Will fix ASAP.

[2022-05-18 12:34] #89 closed

[2022-06-02 01:51] who-biz commented on #88
This can be rectified by adding seed node network addresses with `--add-priority-node=<IP>` to `blurd` startup options

[2022-06-02 01:51] #88 closed

[2022-06-02 01:56] who-biz commented on #70
This issue still needs resolved, relatively soon.

Regarding emission, the words above are no longer accurate. Decision was made not to inflate supply at 2.0 BLUR/block. Static rewards will be necessary to incentivize mining once we hit tail emission. Presently network transaction frequency is far too low for fee-based rewards to be viable